body {
    background-color: #f4fffd;
}

.container {
    align-items: center;
}
a {
    color: #011936;
}

a:hover {
    color: #465362;
}

#countdown {
    padding: 0;
}
.top-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 2px black solid;
    background-color: #f9dc5c;

}

.start-page {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.directions {
    text-align: center;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

.startButton {
    left: 50%;
    margin: 0;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #3e2f5b;
    border-radius: 5px;
    border: 2px, black, solid;
    color: white;
    
}
.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #e0ca3c;
    padding: 10px 50px 50px 50px;
    border: 2px solid #000f08;
}

.grid h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f34213;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border: 2px solid #000f08;
}

.grid #question {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.buttons {
    margin-top: 30px;

}

.button {
    background: #3e2f5b;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #000f08;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0, #btn1, #btn2, #btn3 {
    background: #3e2f5b;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #000f08;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#progress {
    color: #000f08;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}