body {
    background-color: #136F63;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

    /* this is not working  */
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #e0ca3c;
    padding: 10px 50px 50px 50px;
    border: 2px solid #000f08;
}

.grid h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f34213;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border: 2px solid #000f08;
}

.grid #question {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.buttons {
    margin-top: 30px;

}

#btn0, #btn1, #btn2, #btn3 {
    background: #3e2f5b;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #000f08;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#progress {
    color: #000f08;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}